@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
  font-family: "PT Sans", sans-serif;
}

section {
  height: 100vh;
}

#photosContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button{
  background-color: rgb(67, 67, 245);
  color: #fffff0;
  border-color: blue;
}